body{
    /*background-color: lightgray;*/
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jscontainer{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    background-color: lightgray;
}

#jscontainer > div{
    /*column-count: 3;*/
}

#worldmap{
    width: 800px;
}

.flag{
    width: 20px;
}

.flag-name{
    display: flex;
    flex-direction: row;
}
.country-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.americas{
    color: green;
}

.europe{
    color: hsl(47, 100%, 40%);
}

.asia{
    color: hsl(354, 59%, 56%);
}

.africa{
    color: hsl(222, 47%, 55%);
}

.oceania{
    color: hsl(288, 43%, 53%);
}

.unknown-continent{
    color: black;
}